body {
    background-color: whitesmoke;
}

div {
    text-align: center;
}

div input[type=text] {
    text-align: auto;
}

#root {
    
    background-color:whitesmoke;
}

.form {
    border-style: solid;
    background-color: hsl(36, 100%, 90%);
    margin: auto;
    width: 80%;
}

.searchBtn {
    display: inline-block;
    border:0.1em solid gray;
    margin:0.4em 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:#f7c380;
    text-align:center;
    transition: all 0.2s;
}

.searchBtn:hover {
    background-color: #ab9982;
}

.manualBtn {
    display: inline-block;
    border:0.1em solid gray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:#f7c380;
    text-align:center;
    transition: all 0.2s;
}

.manualBtn:hover {
    background-color: #ab9982;
}